<h2>Contacts</h2>

<form action="/contacts" method="POST" role="form" class="visit-form" style="width: 30%">
  <div class="form-group">
    <label class="sr-only" for="exampleInputName">Name</label>
    <input name="client[username]" type="text" class="form-control" id="exampleInputName" placeholder="Your Name"
         value="<%= @c.username %>">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail">EmailP</label>
    <input name="client[email]" type="email" class="form-control" id="exampleInputEmail" placeholder="Your Email"
           value="<%= @c.email %>">
  </div>
  <div class="form-group">
    <textarea name="client[message]" class="form-control" rows="4"><%= @c.message %></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Send!</button>
</form>